@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/*Variáveis*/
:root {
    --text-bold: #1F1534;
    --text-general: #7D7987;
    --text-white: #FFFFFF;
    --button-text: #458FF6;
    --buton-border: #458FF6;
}

/*Rectangule Global*/
.rectangle {
    width: 56px;
    height: 2px;
    background-color: var(--text-bold);
    border-radius: 5px;
}

.rectangle-white {
    width: 56px;
    height: 2px;
    background-color: var(--text-white);
    border-radius: 5px;
}

/*Header*/
.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header-menu a {
    padding: 16px 0px;
    color: var(--text-general);
    transition: transform 0.3s, color 0.2s;
}

.header-menu a:hover {
    color: var(--text-bold);
    font-weight: 700;
}

/*Main*/
.principal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;
}

.principal-content-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.principal-content-content h1 {
    font-size: 3rem;
}

.principal-content-content p {
    color: var(--text-general);
    font-size: 1.3rem;
}

.principal-content-content img {
    width: 693px;
    height: 598px;
}

.principal-content-content a {
    padding: 15px 40px;
    border: none;
    border: 1px solid transparent;
    background-color: var(--buton-border);
    color: var(--text-white);
    border-radius: 55px;
    cursor: pointer;
    transition: 0.3s;
}

.principal-content-content a:hover {
    background-color: var(--text-white);
    color: var(--button-text);
    border: 1px solid var(--button-text);
}

/*First Section*/
.first-section {
    padding-top: 140px;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
}

.first-section-content h2 {
    font-size: 1.6rem;
}

.first-section-content p {
    font-size: 1.2rem;
    text-align: center;
}

.first-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.first-section-grid-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0 rgba(229,233,246,.4);
    padding: 40px;
}

.first-section-grid-content img {
    width: 100px;
    height: 90px;
}

.first-section-grid-content h3 {
    font-size: 1.5rem;
}

.first-section-grid-content p {
    font-size: 1rem;
    color: var(--text-general);
}

.first-section-content-a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}

.first-section-content-a a {
    padding: 15px 40px;
    border: solid 1px var(--buton-border);
    background-color: #FFFFFF;
    color: var(--button-text);
    border-radius: 55px;
    cursor: pointer;    
}

.first-section-content-a a:hover {
    background-color: var(--button-text);
    color: var(--text-white);
    border: 1px solid var(--button-text);
}


/*Second Section*/
.second-section {
    padding-top: 120px;
}

.second-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.second-section-content h1 {
    font-size: 2.25rem;
}

.second-section-content p {
    color: var(--text-general);
    font-size: 1.12rem;
}

.second-section-container img {
    width: 693px;
    height: 598px;
}

.second-section-content a {
    padding: 15px 40px;
    border: solid 1px var(--buton-border);
    background-color: #FFFFFF;
    color: var(--button-text);
    border-radius: 55px;
    cursor: pointer; 
}

.second-section-content a:hover {
    background-color: var(--button-text);
    color: var(--text-white);
    border: 1px solid var(--button-text);
}

/*Third Section*/
.third-section {
    padding-top: 120px;
}

.third-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.third-section-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.third-section-content h1 {
    font-size: 2.25rem;
}

.third-section-content p {
    color: var(--text-general);
    font-size: 1.12rem;
}

.third-section-container img {
    width: 693px;
    height: 598px;
}

.third-section-content a {
    padding: 15px 40px;
    border: solid 1px var(--buton-border);
    background-color: #FFFFFF;
    color: var(--button-text);
    border-radius: 55px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.third-section-content a:hover {
    background-color: var(--button-text);
    color: var(--text-white);
    border: 1px solid var(--button-text);
}

.third-section-content a::after {
    content: "";
    display: inline-block;
    background: url(./assets/arrow_down.svg) no-repeat center;
    background-size: contain;
    width: 9px;
    height: 15px;
    margin-left: 8px;
}

/*Feedback Section*/
.feedback-section {
    padding-top: 120px;
}

.feedback-section-container {
    max-width: 1000px;
    padding: 40px;
    background: linear-gradient(#67C3F3, #5A98F2);
    border-radius: 25px;
    margin: 0 auto;
}

.feedback-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.feedback-section-title h3 {
    color: var(--text-white);
    font-size: 2.25rem;
}

.feedback-section-opinion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.feedback-section-opinion p {
    font-size: 1.1rem;
    color: var(--text-white);
}

.feedback-section-opinion-name {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feedback-section-opinion-name h3 {
    font-size: 1.37rem;
    color: var(--text-white);
}

.feedback-section-opinion-name p {
    font-size: 1rem;
    color: var(--text-white);
}


/*Galery Section*/
.gallery-section {
    padding-top: 120px;
}

.gallery-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 120px;
}

.gallery-section-title h3 {
    color: var(--text-bold);
    font-size: 2.25rem;
}

.gallery-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.gallery-section-container-content {
    border-radius: 24px;
    box-shadow: 10px 40px 50px 0 rgba(229,233,246,.4);
}

.gallery-section-container-content-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-section-container-content img {
    width: 350px;
    height: 240px;
    border-radius: 24px 24px 0 0;
}

.gallery-section-container-content-content h3 {
    font-size: 1.3rem;
    color: var(--text-bold);
}

.gallery-section-container-content-content p {
    font-size: 1rem;
    color: var(--text-general);
}

.gallery-section-container-content-content a {
    color: var(--button-text);
    font-size: 1rem;
}

.gallery-section-container-content-content a::after {
    content: "";
    display: inline-block;
    background: url(./assets/arrow_right.svg) no-repeat center;
    background-size: contain;
    width: 15px;
    height: 9px;
    margin-left: 25px;
}