@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/*Variáveis*/
:root {
    --text-bold: #1F1534;
    --text-general: #7D7987;
    --text-white: #FFFFFF;
    --button-text: #458FF6;
    --buton-border: #458FF6;
}

/*Header*/
.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: var(--text-general);
    transition: transform 0.2s, color 0.2s;
}

.header-menu a:hover {
    color: var(--text-bold);
    font-weight: 700;
    width: 100%;
}

/*Main*/
.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.conteudo-principal-conteudo h1 {
    font-size: 3rem;
}

.conteudo-principal-conteudo p {
    color: var(--text-general);
    font-size: 1.3rem;
}

.conteudo-principal-conteudo img {
    width: 693px;
    height: 598px;
}

.conteudo-principal-conteudo button {
    padding: 15px 40px;
    border: none;
    background-color: var(--buton-border);
    color: var(--text-white);
    border-radius: 55px;
    cursor: pointer;
}